@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
  h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 140px;
  }
}

